server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: evaluation-service
          uri: http://evaluation-service:8082
          predicates:
            - Path=/api/v1/evaluations/**
