server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        # Định tuyến cho Workspace Service
        - id: workspace-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/workspace/**
            
        # Định tuyến cho Communication Service (WebSocket)
        - id: communication-service
          uri: ws://localhost:8082
          predicates:
            - Path=/ws/**

        # Định tuyến sang Identity Service
        - id: identity-service
          uri: http://localhost:8083 # Địa chỉ thật của Identity
          predicates:
            - Path=/identity/** 
          filters:
            - StripPrefix=1 

        # Định tuyến sang AI Service
        - id: ai-service
          uri: http://localhost:8084 # Địa chỉ thật của AI
          predicates:
            - Path=/ai/** #
            