server:
  port: 8080 # Cổng chính

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]': # Áp dụng cho tất cả các đường dẫn
            allowedOrigins: "http://localhost:5173" # Chỉ cho phép Frontend React này
            allowedMethods: # Cho phép các phương thức này
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*" # Cho phép mọi header
            allowCredentials: true # Cho phép cookie/token
      routes:
        # Route cho Workspace (Task, Sprint...)
        - id: workspace-service
          uri: http://localhost:8081 # Chuyển tiếp đến service Workspace
          predicates:
            - Path=/api/workspace/**
            
        # Định tuyến cho Communication Service (WebSocket)
        - id: communication-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/chat/**

        # Route cho Chat WebSocket (Quan trọng: Phải dùng ws://)
        - id: chat-websocket
          uri: ws://localhost:8082
          predicates:
            - Path=/ws/**
        
        - id: evaluation-service
          uri: http://evaluation-service:8083
          predicates:
            - Path=/evaluation/**
          filters:
            - StripPrefix=1
        - id: class-service
          uri: http://localhost:8084 # Chuyển hướng về cổng 8082
          predicates:
            - Path=/api/v1/classes/** # Bắt tất cả request bắt đầu bằng /api/v1/classes

        # 2. Cấu hình đường dẫn cho Subject Service (Dự kiến chạy cổng 8081)
        - id: subject-service
          uri: http://localhost:8085
          predicates:
            - Path=/api/v1/subjects/**
        # Định tuyến sang Identity Service
        - id: identity-service
          uri: http://localhost:8086
          predicates:
            - Path=/identity/**
          filters:
            - StripPrefix=1

        # Định tuyến sang AI Service
        # (Lưu ý: Không dùng StripPrefix vì Controller của bạn đã có /ai)
        - id: ai-service
          uri: http://localhost:8087 
          predicates:
            - Path=/ai/**