server:
  port: 8080 # Cổng chạy của Gateway

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        # 1. Cấu hình đường dẫn cho Class Service
        - id: class-service
          uri: http://localhost:8082 # Chuyển hướng về cổng 8082
          predicates:
            - Path=/api/v1/classes/** # Bắt tất cả request bắt đầu bằng /api/v1/classes

        # 2. Cấu hình đường dẫn cho Subject Service (Dự kiến chạy cổng 8081)
        - id: subject-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/v1/subjects/**