server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        # Định tuyến cho Workspace Service
        - id: workspace-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/workspace/**
            
        # Định tuyến cho Communication Service (WebSocket)
        - id: communication-service
          uri: ws://localhost:8082
          predicates:
            - Path=/ws/**