server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      # Lọc bỏ tiêu đề trùng lặp để tránh lỗi lặp tiêu đề CORS
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials, RETAIN_FIRST
      
      globalcors:
        add-to-gateway-lookup-config: true
        cors-configurations:
          '[/**]':
            allowedOrigins: "http://localhost:3000"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true
            
      routes:
        - id: project-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/v1/projects/**