spring:
  datasource:
    url: jdbc:mysql://${SPRING_DATASOURCE_URL:localhost:3306/collab_db}?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: ${SPRING_DATASOURCE_USERNAME:root}
    password: ${SPRING_DATASOURCE_PASSWORD:root}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false

server:
  port: 8088
  servlet:
    context-path: /api/v1

logging:
  level:
    root: INFO
    "[com.collab]": DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %logger{36} - %msg%n"
