spring:
  application:
    name: evaluation-service

  # XÓA DÒNG PROFILES ACTIVE DOCKER Ở ĐÂY

  datasource:
    # URL đầy đủ, không được có dấu ... ở cuối nhé
    url: jdbc:mysql://localhost:3306/Evaluation_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        
  rabbitmq:
    host: localhost # Sửa thành localhost
    port: 5672
    username: guest
    password: guest

server:
  port: 8083 # Đổi sang 8088 (theo quy hoạch)
  servlet:
    context-path: /api/evaluations # Sửa lại cho đúng chuẩn

logging:
  level:
    root: INFO
    com.collab: DEBUG
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: evaluation-service   # đổi theo từng service
