server:
  port: 8082 # Cổng này khác cổng 8081 của workspace nhé

spring:
  application:
    name: communication-service
  datasource:
    # Dùng chung database collab_db cho tiện, nó sẽ tự tạo bảng riêng
    url: jdbc:mysql://localhost:3306/Communication_db?createDatabaseIfNotExist=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: communication-service   # đổi theo từng service
